sphinx==8.1.3
pyyaml==6.0.2
myst_parser==4.0.0
sphinx_rtd_theme==3.0.1
sphinx_argparse==0.3.1
sphinxcontrib-mermaid==1.0.0
sphinx-hoverxref==1.4.1
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-napoleon==0.7
sphinxcontrib.jquery==4.1
sphinx-autodoc-typehints==3.0.1
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
myst-nb==1.4.0
sphinx-autoapi==3.8.0
numpydoc==1.5.0
pandas==1.5.3
numpy==1.26.4
furo==2025.12.19
